@import url('../css/reset.css');

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size:10px;
    background-color:rgba(255, 255, 255, 0.68);
    color:#000;
}
section, footer{
    width:100%;
    height:50vh;
}
header{
    width:100%;
    height: 64vh;
    position:relative;
    overflow:hidden;
    background:url('../img/header.jpg') no-repeat center/cover;
    overflow:hidden;
}

header nav{
    background-color:#000033;
    height:15vh;
    width:100%;
    
}
header nav ul{
    padding:0;
    list-style: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
header nav ul li{
   
    margin-top:30px;
   
}
header nav ul li a{
    width:150px;
    color:#fff;
    display:block;
    font-size:2em;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight:700;
}
header nav ul li a:hover{
    background:#007bff;
    color:#fff;
    text-decoration: none;
    -webkit-transition:.6s;
    transition:.6s;
}


#spolecznosciowe {
    width: 222px;;
    height: 82px;
    position: fixed;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 57%;
    left: -156px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    border-left: none;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    padding: 20px;
}

#spolecznosciowe:hover {
    left: 0;
}

.sprites_media{
    background: url(../img/sprites_spolecznosciowe.png) no-repeat;
    width:43px;
    height:42px;
    overflow:hidden;
    display:inline-block;
}

div.facebook {
    background-position: 0px -1px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div.facebook:hover {
    background-position: 0px -43px;
}

div.twitter {
    background-position: -52px -1px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div.twitter:hover {
    background-position: -52px -43px;
}

div.youtube {
    background-position: -104px -1px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div.youtube:hover {
    background-position: -104px -43px;
}

div.in {
    background-position: -155px -1px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div.in:hover {
    background-position: -155px -43px;
}

section{
    width:80%;
    height:100vh;
    margin:0 auto;
}
section h1{
    font-size:3em;
    text-align: center;
    margin:2em;
}
table{
    width:100%;
    margin:0 auto;
    border-collapse:collapse;
}

td{
    border:1px solid black; 
    padding:10px;
    text-align:center;
}
table.row{
    font-family: Arial, Tahona, sans-serif;
    font-size:12px;
    width:80%;
    margin:20px 50px;
    background-color:whitesmoke;
     border-collapse:collapse;
}
table.row th{
    background-color: #1f64a8;
    color:white;
    font-size:1.2em;
    text-transform: uppercase;
    padding:5px;
}
table.row td{
    padding:5px;
}
table.row *{
    border:none;
    
}
table.row tr{
    border-bottom: 1px solid #fff;
}
table.row tr:nth-child(even){ 
    background-color:#d8cfcf;
}
table.row tr:hover{
    background-color:navy;
    color:white;
    cursor:pointer;
}

footer{
    
    
    background-color:#000;
    color:#fff;
    
}

footer ul li{
    
   width:23%;
   font-size:20px;
   float:left;
   padding:20px;
   line-height:1.4em;
    list-style:none;
}
footer p{
    
    clear:both;
    width:100%;
    text-align: center;
    font-size:15px;
}